doctype 5 
html(lang="es")
		head
				meta(charset="utf-8")
				title Te lo Cuento
				link(rel='stylesheet', href='/css/bootstrap.css')
				link(rel='stylesheet', href='/css/style.css')
				
		body
				
				section.ajuste		
					section.todo
							include partes/menu	
							section.Top
									block Top
							section.container
									block container
									section.pages
												block pages
										section.pages2
												block pages2
											
				
						