extends layout
block todo
		block Top
					br
					h1.title El Principe Rana
		block container
					br
					br
					br
		block pages					
					img.imagengrande(src='/img/rana.png') 
					p Hace muchos, muchos años vivía una princesa a quien le encantaban los objetos de oro. Su juguete preferido era una bolita de oro macizo. En los días calurosos, le gustaba sentarse junto a un viejo pozo para jugar con la bolita de oro. Cierto día, la bolita se le cayó en el pozo. Tan profundo era éste que la princesa no alcanzaba a ver el fondo.
					p -¡Ay, qué tristeza! La he perdido -se lamentó la princesa, y comenzó a llorar.
					p De repente, la princesa escuchó una voz.
					p -¿Qué te pasa, hermosa princesa? ¿Por qué lloras?
					p La princesa miró por todas partes, pero no vio a nadie.
					p -Aquí abajo -dijo la voz.
					p La princesa miró hacia abajo y vio una rana que salía del agua.
					p -Ah, ranita -dijo la princesa-. Si te interesa saberlo, estoy triste porque mi bolita de oro cayó en el pozo.
					p -Yo la podría sacar -dijo la rana-. Pero tendrías que darme algo a cambio.
					
			
		block pages2
					p La princesa sugirió lo siguiente:
					p -¿Qué te parecen mi perlas y mis joyas? O quizás mi corona de oro.
					p -¿Y qué puedo hacer yo con una corona? -dijo la rana-. Pero te ayudaré a encontrar la bolita si me prometes ser mi mejor amiga.
					p -Iría a cenar a tu castillo, y me quedaría a pasar la noche de vez en cuando -propuso la rana.
					p Aunque la princesa pensaba que aquello eran tonterías de la rana, accedió a ser su mejor amiga.
					p Enseguida, la rana se metió en el pozo y al poco tiempo salió con la bolita de oro en la boca.
					p La rana dejó la bolita de oro a los pies de la princesa. Ella la recogió rápidamente y, sin siquiera darle las gracias, se fue corriendo al castillo.
					p -¡Espera! -le dijo la rana-. ¡No puedo correr tan rápido!
					p Pero la princesa no le prestó atención.
					p La princesa se olvidó por completo de la rana. Al día siguiente, cuando estaba cenando con la familia real, escuchó un sonido bastante extraño en las escaleras de mármol del palacio.
					p Luego, escuchó una voz que dijo:
					p -Princesa, abre la puerta.
					p Llena de curiosidad, la princesa se levantó a abrir. Sin embargo, al ver a la rana toda mojada, le cerró la puerta en las narices. El rey comprendió que algo extraño estaba ocurriendo y preguntó:
					p -¿Algún gigante vino a buscarte?
					p -Es sólo una rana -contestó ella.
					p -¿Y qué quiere esa rana? -preguntó el rey.