extends layout
block todo
		block Top
					br
					h1.title Peter Pan
		block container
					br
					br
					br
		block pages					
					img.imagengrande(src='/img/peter.jpg') 
					p Wendy, Michael y John eran tres hermanos que vivían en las afueras de Londres. Wendy, la mayor, había contagiado a sus hermanitos su admiración por Peter Pan. Todas las noches les contaba a sus hermanos las aventuras de Peter.
					p	Una noche, cuando ya casi dormían, vieron una lucecita moverse por la habitación. 
					p	Era Campanilla, el hada que acompaña siempre a Peter Pan, y el mismísimo Peter. Éste les propuso viajar con él y con Campanilla al País de Nunca Jamás, donde vivían los Niños Perdidos...					br
					p Campanilla os ayudará. Basta con que os eche un poco de polvo mágico para que podáis volar.
					p Cuando Peter Pan se despertó y se disponía a beber el agua, Campanilla, arrepentida de lo que había hecho, se lanzó contra el vaso, aunque no pudo evitar que la salpicaran unas cuantas gotas del veneno, una cantidad suficiente para matar a un ser tan diminuto como ella. Una sola cosa podía salvarla: que todos los niños creyeran en las hadas y en el poder de la fantasía. Y así es como, gracias a los niños, Campanilla se salvó.
					p Mientras tanto, nuestros amiguitos seguían en poder de los piratas. Ya estaban a punto de ser lanzados por la borda con los brazos atados a la espalda. Parecía que nada podía salvarles, cuando de repente, oyeron una voz:				
			
		block pages2
					p Cuando ya se encontraban cerca del País de Nunca Jamás, Peter les señaló:
					p Es el barco del Capitán Garfio. Tened mucho cuidado con él. Hace tiempo un cocodrilo le devoró la mano y se tragó hasta el reloj. ¡Qué nervioso se pone ahora Garfio cuando oye un tic-tac!
					p Campanilla se sintió celosa de las atenciones que su amigo tenía para con Wendy, así que, adelantándose, les dijo a los Niños Perdidos que debían disparar una flecha a un gran pájaro que se acercaba con Peter Pan. La pobre Wendy cayó al suelo, pero, por fortuna, la flecha no había penetrado en su cuerpo y enseguida se recuperó del golpe.

					
					p Wendy cuidaba de todos aquellos niños sin madre y, también, claro está de sus hermanitos y del propio Peter Pan. Procuraban no tropezarse con los terribles piratas, pero éstos, que ya habían tenido noticias de su llegada al País de Nunca Jamás, organizaron una emboscada y se llevaron prisioneros a Wendy, a Michael y a John.

					br
					
					p Para que Peter no pudiera rescatarles, el Capitán Garfio decidió envenenarle, contando para ello con la ayuda de Campanilla,   quien deseaba vengarse del cariño que Peter sentía hacia Wendy. Garfio aprovechó el momento en que Peter se había dormido para verter en su vaso unas gotas de un poderosísimo veneno.
					p ¡Eh, Capitán Garfio, eres un cobarde! ¡A ver si te atreves conmigo!
					img.imagengrande2(src='/img/peterba.jpg')


