div.masthead
	div.navbar
		div.navbar-inner
			div.container2
				ul.nav
					li: a(href='/') Patito Feo
					li: a(href='/peterpan') Peter Pan
					li: a(href='/pinocho') Pinocho
					li: a(href='/otro') El Principe Rana